@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("/source/fonts/icomoon.eot?94rfmp");
  src: url("/source/fonts/icomoon.eot?94rfmp#iefix") format("embedded-opentype"), url("/source/fonts/icomoon.ttf?94rfmp") format("truetype"), url("/source/fonts/icomoon.woff?94rfmp") format("woff"), url("/source/fonts/icomoon.svg?94rfmp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-book:before {
  content: "\e901";
}

._icon-college:before {
  content: "\e902";
}

._icon-discord:before {
  content: "\e903";
}

._icon-document:before {
  content: "\e904";
}

._icon-download:before {
  content: "\e905";
}

._icon-eye:before {
  content: "\e906";
}

._icon-house:before {
  content: "\e907";
}

._icon-list:before {
  content: "\e908";
}

._icon-nav-arrow:before {
  content: "\e909";
}

._icon-priemnaya:before {
  content: "\e90a";
}

._icon-prof:before {
  content: "\e90b";
}

._icon-schedule:before {
  content: "\e90c";
}

._icon-search:before {
  content: "\e90d";
}

._icon-teach:before {
  content: "\e90e";
}

._icon-vk:before {
  content: "\e90f";
}

._icon-yt:before {
  content: "\e910";
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.sub {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
  margin-bottom: 40px;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  background: #000000;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  color: #ffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.page-nav {
  margin-bottom: 40px;
  margin-top: 243px;
}

.page-nav .page-nav-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-nav .page-nav-content li {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-right: 5px;
}

.page-nav .page-nav-content li:last-child {
  margin-right: 0;
}

.page-nav .page-nav-content li a {
  color: #B1B1B1;
}

.page-nav .page-nav-content li a.active {
  color: #000000;
}

.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.head .heading {
  font-weight: 500;
  font-size: 75px;
  line-height: 90%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.head .head-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head .head-btn-wrapper .head-btn {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.head .head-btn-wrapper .head-btn .head-btn-icon {
  font-size: 32px;
  color: #ffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  font-size: 16px;
  color: #000000;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

html a,
body a {
  text-decoration: none;
  color: #000000;
}

html li,
body li {
  list-style: none;
}

._container {
  max-width: 1760px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #537EE7;
  overflow: hidden;
}

.overlay-preloader-el01 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 101;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
}

.overlay-preloader-text-wrapper {
  position: relative;
  width: 454px;
  height: 128px;
  overflow: hidden;
}

.overlay-preloader-logo {
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mb1250 {
  margin-bottom: 1250px;
}

.header__container {
  overflow: visible;
}

.header__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 60px;
  height: 60px;
  background: url(/source/logo.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
}

.header__logo-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-left: 14px;
  max-width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__navigation {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 19.5px 40.5px;
}

.header__navigation li {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-right: 20px;
}

.header__navigation li:last-child {
  margin-right: 0;
}

.header__navigation li:hover .header__navigation-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__navigation li:hover .header__navigation-block {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.header__navigation li:hover a:hover {
  color: #537EE7;
}

.header__navigation li:hover a:hover .header__navigation-arrow {
  color: #537EE7;
}

.header__navigation li a {
  color: #ffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.header__navigation li:last-child {
  margin-right: 0;
}

.header__navigation li:nth-child(2) .header__navigation-block {
  left: 360px;
}

.header__navigation li:nth-child(3) .header__navigation-block {
  left: 585px;
}

.header__navigation-arrow {
  font-size: 32px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.header__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
  background: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header__search-icon {
  font-size: 32px;
  color: #ffff;
}

.header__btn {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000000;
  cursor: pointer;
}

.header__btn-icon {
  color: #ffff;
  font-size: 32px;
}

.header__navigation-block {
  position: absolute;
  left: 0;
  bottom: -375px;
  width: 615px;
  height: 355px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background: #ffff;
}

.header__navigation-block-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: none;
  width: 100%;
  height: 56px;
  padding: 10px 40px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.header__navigation-block-item:hover {
  background: #537EE7;
  color: #ffff;
}

.header__navigation-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 379px;
  color: #000000;
}

.header__navigation-item:hover .header__navigation-item-icon {
  color: #537EE7;
}

.header__navigation-item:hover .header__navigation-item-title {
  color: #537EE7;
}

.header__navigation-item-icon {
  font-size: 48px;
  margin-right: 20px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.header__navigation-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.header__navigation-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: none;
  color: #B1B1B1;
}

.header__navigation-under-block {
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 40px;
}

.home {
  margin-bottom: 200px;
}

.home__body {
  margin-top: 355px;
}

.home__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.home__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 90%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.home__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  max-width: 870px;
  color: #B1B1B1;
}

.home__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.home__btn {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #000000;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__arrow {
  font-size: 32px;
  color: #ffff;
}

.home__img {
  width: 1920px;
  height: 551px;
  background: url(/source/home-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-border-top-right-radius: 50px;
          border-top-right-radius: 50px;
  -webkit-border-top-left-radius: 50px;
          border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
          border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
          border-bottom-left-radius: 50px;
  margin: 0 auto;
}

.about {
  position: relative;
}

.about__container {
  margin-bottom: 200px;
}

.about__body {
  height: 770px;
  background: url(/source/about-bg.jpg) center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-left: 80px;
  padding-top: 40px;
}

.about__body * {
  color: #ffff;
}

.about__sub {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.about__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.about__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  max-width: 870px;
}

.about__decore {
  font-weight: 700;
  font-size: 500px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffff;
  position: absolute;
  bottom: -70px;
  left: -965px;
  min-width: 10636px;
  -webkit-animation: decoreAnimation 30s linear infinite;
          animation: decoreAnimation 30s linear infinite;
}

@-webkit-keyframes decoreAnimation {
  0% {
    left: -965px;
  }
  100% {
    left: -4000px;
  }
}

@keyframes decoreAnimation {
  0% {
    left: -965px;
  }
  100% {
    left: -4000px;
  }
}

.directions__body {
  margin-bottom: 200px;
}

.directions__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.directions__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  max-width: 870px;
}

.directions__item {
  width: 870px;
  height: 115px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 1px solid #B1B1B1;
  color: #000000;
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: -0.03em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.directions__item:hover {
  color: #537EE7;
}

.directions__item.active {
  background: #537EE7;
  color: #ffff;
}

.directions__item.active .directions__item-arrow {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.directions__item-arrow {
  font-size: 48px;
  margin-left: 10px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.directions__item-block {
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  width: 870px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.directions__item-block.active {
  visibility: visible;
  opacity: 1;
  height: 270px;
  margin-bottom: 20px;
}

.directions__item-block.active p {
  visibility: visible;
  opacity: 1;
}

.directions__item-block p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  max-width: 790px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.contact__body {
  margin-bottom: 200px;
}

.contact__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.contact__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form input {
  width: 870px;
  height: 115px;
  padding: 39.5px 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-right: 20px;
  border: 1px solid #B1B1B1;
}

.contact__form input:hover::-webkit-input-placeholder {
  color: #000000;
}

.contact__form input:hover:-ms-input-placeholder {
  color: #000000;
}

.contact__form input:hover::-ms-input-placeholder {
  color: #000000;
}

.contact__form input:hover::placeholder {
  color: #000000;
}

.contact__form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form input::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form-block {
  margin-bottom: 20px;
}

.contact__form-block input {
  width: 425px;
  height: 115px;
  padding: 39.5px 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-right: 20px;
  border: 1px solid #B1B1B1;
}

.contact__form-block input:hover::-webkit-input-placeholder {
  color: #000000;
}

.contact__form-block input:hover:-ms-input-placeholder {
  color: #000000;
}

.contact__form-block input:hover::-ms-input-placeholder {
  color: #000000;
}

.contact__form-block input:hover::placeholder {
  color: #000000;
}

.contact__form-block input:last-child {
  margin-right: 0;
}

.contact__form-block input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form-block input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form-block input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__form-block input::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  font-family: 'Inter', sans-serif;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.contact__btn {
  margin-top: 80px;
  cursor: pointer;
}

.contact__btn-arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 10px;
  font-size: 24px;
}

.contact__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.contact__map {
  width: 870px;
  height: 600px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.partners__container {
  overflow: visible;
}

.partners__body {
  margin-bottom: 200px;
}

.partners__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.partners__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__content:first-child .partners__item-wrapper:nth-child(1) .partners__item:nth-child(1) .partners__item-img {
  background: url(/source/partners-01.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__content:first-child .partners__item-wrapper:nth-child(1) .partners__item:nth-child(2) .partners__item-img {
  background: url(/source/partners-02.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__content:first-child .partners__item-wrapper:nth-child(2) .partners__item:nth-child(1) .partners__item-img {
  background: url(/source/partners-03.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__content:first-child .partners__item-wrapper:nth-child(2) .partners__item:nth-child(2) .partners__item-img {
  background: url(/source/partners-04.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__content:last-child {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.partners__content:last-child .partners__item:nth-child(1) .partners__item-img {
  background: url(/source/partners-05.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__content:last-child .partners__item:nth-child(2) .partners__item-img {
  background: url(/source/partners-06.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__content:last-child .partners__item:nth-child(3) .partners__item-img {
  background: url(/source/partners-07.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.partners__item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.partners__item {
  width: 336px;
  height: 270px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.partners__item:last-child {
  margin-right: 0;
}

.partners__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.partners__item:hover .partners__item-img {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.partners__item-img {
  width: 254px;
  height: 210px;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.social__body {
  margin-bottom: 160px;
}

.social__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.social__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social__slide-num {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.social__slide-num-dis {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  color: #B1B1B1;
}

.social__slide-num-dis span {
  color: #000000;
}

.social__slide-arrow-wrapper {
  position: absolute;
  right: 0;
  bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__slide-arrow-prev {
  font-size: 48px;
  color: #000000;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 40px;
  cursor: pointer;
}

.social__slide-arrow-next {
  font-size: 48px;
  color: #000000;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

.social__item {
  width: 336px;
  height: 400px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 1px solid #B1B1B1;
  padding: 30px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.social__item:hover .social__item-sub {
  -webkit-transform: perspective(1000px) translateZ(15px);
          transform: perspective(1000px) translateZ(15px);
}

.social__item:hover .social__item-title {
  -webkit-transform: perspective(1000px) translateZ(15px);
          transform: perspective(1000px) translateZ(15px);
}

.social__item:hover .social__item-text {
  -webkit-transform: perspective(1000px) translateZ(15px);
          transform: perspective(1000px) translateZ(15px);
}

.social__item:hover .social__item-btn {
  -webkit-transform: perspective(1000px) translateZ(20px);
          transform: perspective(1000px) translateZ(20px);
}

.social__item-sub {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #B1B1B1;
  margin-bottom: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social__item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social__item-text span {
  color: #537EE7;
}

.social__item-btn {
  margin-top: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social__item-btn-arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 10px;
}

.mt66 {
  margin-top: 66px;
}

.footer {
  background: #000000;
}

.footer__container {
  overflow: visible;
}

.footer__body {
  padding-top: 80px;
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(1) .footer__item:nth-child(1) .footer__item-img {
  background: url(/source/footer-01.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(1) .footer__item:nth-child(2) .footer__item-img {
  background: url(/source/footer-02.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(1) .footer__item:nth-child(3) .footer__item-img {
  background: url(/source/footer-03.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(2) .footer__item:nth-child(1) .footer__item-img {
  background: url(/source/footer-04.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(2) .footer__item:nth-child(2) .footer__item-img {
  background: url(/source/footer-05.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(2) .footer__item:nth-child(3) .footer__item-img {
  background: url(/source/footer-06.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(3) .footer__item:nth-child(1) .footer__item-img {
  background: url(/source/footer-07.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__block:nth-child(1) .footer__item-wrapper:nth-child(3) .footer__item:nth-child(2) .footer__item-img {
  background: url(/source/footer-08.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__sub {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
  margin-bottom: 40px;
}

.footer__item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__item-wrapper:last-child {
  margin-bottom: 0;
}

.footer__item {
  width: 240px;
  height: 92px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: #1B1B1B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 20px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.footer__item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-img {
  width: 200px;
  height: 72px;
}

.footer__info-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.footer__info-wrapper:last-child {
  margin-bottom: 0;
}

.footer__info-wrapper .footer__info:first-child .footer__text {
  margin-right: 80px;
}

.footer__info-wrapper:first-child .footer__info:last-child .footer__text {
  color: #537EE7;
}

.footer__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffff;
  max-width: 340px;
  min-width: 338px;
}

.footer__text span {
  color: #537EE7;
}

.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 229px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 68.5px 0px;
  color: #B1B1B1;
}

.footer__arrow-wrapper {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 32px;
}

.college__body {
  margin-bottom: 200px;
}

.college__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.college__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  margin-top: 40px;
}

.college__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.college__img {
  width: 870px;
  height: 770px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background: url(/source/about-page.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.team__container {
  overflow: visible;
}

.team__body {
  margin-bottom: 400px;
}

.team__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}

.team__item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item-wrapper:first-child {
  margin-bottom: 20px;
}

.team__item {
  width: 336px;
  height: 400px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  padding: 40px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.team__item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.team__role {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B1B1B1;
  margin-bottom: 20px;
  margin-top: 220px;
}

.team__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.team__item-text {
  width: 336px;
  height: 400px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B1B1B1;
}

.document__container {
  position: relative;
}

.document__body {
  margin-bottom: 998px;
}

.document__head {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.document__head-item {
  padding: 19.5px 40px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 1px solid #B1B1B1;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.document__head-item:last-child {
  margin-right: 0;
}

.document__head-item.active {
  border: 1px solid #000000;
  background: #000000;
}

.document__head-item.active .document__head-item-title {
  color: #ffff;
}

.document__head-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #537EE7;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.document__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  position: absolute;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  width: 100%;
}

.document__content.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.document__item-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.document__item {
  width: 870px;
  height: 114px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 1px solid #B1B1B1;
  padding: 39px 38px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.document__item:last-child {
  margin-bottom: 0;
}

.document__item-nav {
  color: #B1B1B1;
  margin-right: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin-left: 2px;
}

.document__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  max-width: 660px;
}

.document__item-icon {
  font-size: 48px;
  color: #537EE7;
}

.document__arrow-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

.document__arrow-prev {
  font-size: 48px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 40px;
  cursor: pointer;
}

.document__arrow-next {
  font-size: 48px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 40px;
  cursor: pointer;
}

.study__container {
  overflow: hidden;
  position: relative;
}

.study__body {
  margin-bottom: 990px;
}

.study__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.study__head-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding: 19.5px 40.5px;
  color: #537EE7;
  border: 1px solid #B1B1B1;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.study__head-item:last-child {
  margin-right: 0;
}

.study__head-item.active {
  background: #000000;
  color: #ffff;
  border: 1px solid #000000;
}

.study__content {
  position: absolute;
  width: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
}

.study__content.active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.study__content:first-child .study__item-wrapper .study__item-block:last-child .study__item {
  width: 870px;
  height: 300px;
}

.study__content:nth-child(3) .study__item-wrapper .study__item-block .study__item {
  width: 573px;
  height: 300px;
}

.study__content:nth-child(3) .study__item-wrapper .study__item-block .study__item .study__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 434px;
}

.study__content:last-child .study__item-wrapper .study__item-block .study__item {
  width: 336px;
  height: 193px;
}

.study__content:last-child .study__item-wrapper .study__item-block:last-child {
  margin-top: 20px;
}

.study__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.study__item-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.study__item-block:first-child {
  margin-bottom: 20px;
}

.study__item {
  position: relative;
  width: 336px;
  height: 300px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  padding: 40px;
  cursor: pointer;
}

.study__item-long {
  position: relative;
  width: 1048px;
  height: 300px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  padding: 40px;
  cursor: pointer;
}

.study__item-text {
  width: 336px;
  height: 264px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B1B1B1;
}

.study__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  max-width: 655px;
}

.study__item-prepods {
  margin-top: 104px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
}

.study__item-prepods span {
  color: #000000;
}

.study__item-icon {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 48px;
  color: #537EE7;
}

.study__item-hidden {
  width: 336px;
  height: 300px;
  visibility: hidden;
  opacity: 0;
}

.study__item-block-praktika {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.study__item-praktika {
  position: relative;
  width: 336px;
  height: 193px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 40px;
  border: 1px solid #B1B1B1;
  cursor: pointer;
}

.study__item-praktika-text {
  width: 336px;
  height: 193px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B1B1B1;
  padding-top: 20px;
}

.study__item-title-praktika {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.study__item-block-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.study__item-group {
  position: relative;
  width: 336px;
  height: 193px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #B1B1B1;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.study__item-group.active {
  border: 1px solid #000000;
  background: #000000;
}

.study__item-group.active .study__item-title-group {
  color: #ffff;
}

.study__item-group.active .study__item-title-group .study__item-title-group-icon {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.study__item-title-group {
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #537EE7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.study__item-title-group-icon {
  font-size: 48px;
  margin-left: 10px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.study__item-content-group {
  position: absolute;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: .6s ease;
  -o-transition: .6s ease;
  transition: .6s ease;
}

.study__item-content-group.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.hostel-banner__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

.hostel-banner__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-top: 40px;
}

.hostel-banner__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  max-width: 870px;
  margin-top: 40px;
}

.hostel-banner__text span {
  color: #537EE7;
}

.hostel-banner__num-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 411px;
}

.hostel-banner__num-item:first-child {
  margin-right: 124px;
}

.hostel-banner__num {
  font-weight: 400;
  font-size: 75px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #537EE7;
  margin-bottom: 10px;
}

.hostel-banner__num-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.hostel-banner__img {
  width: 870px;
  height: 770px;
  background: url(/source/hostel.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

.hostel-place__body {
  margin-bottom: 200px;
}

.hostel-place__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  max-width: 870px;
}

.hostel-place__item-wrapper {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hostel-place__item-wrapper:last-child .hostel-place__item {
  width: 870px;
  height: 300px;
}

.hostel-place__item {
  width: 870px;
  height: 460px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  padding: 40px 40px 0px 40px;
}

.hostel-place__item-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.hostel-place__item-num {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #537EE7;
  margin-right: 10px;
  min-width: 44px;
}

.hostel-place__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  max-width: 740px;
}

.hostel-place__item-title span {
  color: #B1B1B1;
}

.hostel-place__item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
}

.hostel-settle__body {
  margin-bottom: 200px;
}

.hostel-settle__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  max-width: 870px;
  margin-bottom: 40px;
}

.hostel-settle__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hostel-settle__item-wrapper:last-child .hostel-settle__item {
  height: 300px;
}

.hostel-settle__item-wrapper:last-child .hostel-settle__item:first-child {
  margin-bottom: 20px;
}

.hostel-settle__item {
  width: 870px;
  height: 620px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #B1B1B1;
  padding: 40px 40px 0px 40px;
}

.hostel-settle__item-head {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hostel-settle__item-num {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #537EE7;
  margin-right: 10px;
  min-width: 44px;
}

.hostel-settle__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.hostel-settle__item-title span {
  color: #B1B1B1;
}

.hostel-settle__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
}

.schedule__body {
  margin-bottom: 315px;
}

.schedule__slider {
  overflow: visible;
}

.schedule__slider-wrapper {
  overflow: visible;
}

.schedule__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule__item-wrapper a:last-child .schedule__item {
  margin-bottom: 0;
}

.schedule__item {
  width: 870px;
  height: 114px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 1px solid #B1B1B1;
  padding: 42.5px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.schedule__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.schedule__icon {
  font-size: 48px;
  color: #537EE7;
}

.schedule__slide-bottom {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -100px;
  width: 100%;
}

.schedule__arrow-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 11;
}

.schedule__arrow-prev {
  font-size: 48px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 40px;
  cursor: pointer;
}

.schedule__arrow-next {
  font-size: 48px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

.schedule .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background: none;
  border: 2px solid #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.schedule .swiper-pagination-bullet-active {
  background: #537EE7;
  border: 1px solid #537EE7;
}

.schedule .swiper-button-disabled {
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.feedback__body {
  height: 1080px;
  background: url(/source/feedback-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 80px;
  margin-bottom: 200px;
}

.feedback__body * {
  color: #ffff;
}

.feedback__title {
  font-weight: 500;
  font-size: 75px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 790px;
  margin-bottom: 200px;
}

.feedback__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.feedback__item:last-child {
  margin-bottom: 0;
}

.feedback__item-num {
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin-right: 10px;
}

.feedback__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.feedback__form * {
  color: #000000;
}

.feedback__form select {
  width: 100%;
  height: 115px;
  background: #ffff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.feedback__form select::after {
  border: none;
}

.feedback__form input {
  width: 100%;
  height: 115px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background: #ffff;
  padding-left: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #000000;
}

.feedback__form input:hover::-webkit-input-placeholder {
  color: #000000;
}

.feedback__form input:hover:-ms-input-placeholder {
  color: #000000;
}

.feedback__form input:hover::-ms-input-placeholder {
  color: #000000;
}

.feedback__form input:hover::placeholder {
  color: #000000;
}

.feedback__form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.feedback__form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.feedback__form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.feedback__form input::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #B1B1B1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.feedback__form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.feedback__form-wrapper input {
  width: 385px;
  height: 115px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background: #ffff;
  padding-left: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #000000;
}

.feedback__form-wrapper input:last-child {
  margin-left: 20px;
}

.feedback__form-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ffff;
  margin: 40px 0px;
}

.feedback__form-text span {
  text-decoration: underline;
  color: #ffff;
}

.feedback__btn {
  color: #ffff;
}

.feedback__form-btn-arrow {
  color: #ffff;
  margin-left: 10px;
  font-size: 24px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
