.carousel {

    &__body {
        margin-top: 107px;
        @media (max-width: 600px) {
            margin-top: 40px;
        }
    }

    &__content {
        height: 150px;
        @media (max-width: 600px) {
            height: 100px;
        }
    }

    &__content-wrapper {
        position: absolute;
        animation: carouselAnimation 30s linear infinite;
        display: flex;
    }

    &__item-wrapper {
        display: flex;
        margin-right: 40px;
    }

    &__item {
        min-width: 447px;
        height: 152px;
        border-radius: 20px;
        margin-right: 40px;
        overflow: hidden;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 600px) {
            border-radius: 10px;
            height: 100px;
            min-width: 292px;
            margin-right: 15px;
        }

        &:nth-child(1) {
            background: url('/source/carousel-01.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:nth-child(2) {
            background: url('/source/carousel-02.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $text-secondary;
        }
        &:nth-child(4) {
            background: url('/source/carousel-03.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:nth-child(5) {
            background: url('/source/carousel-04.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__item-img {
        width: 100%;
        height: 100%;
    }

    &__item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
    }
}

@keyframes carouselAnimation {
    0% {
        left: 0px; 
    }
    100% {
        left: -2639px;
    }
}
