.directions {

    &__container {
    }

    &__body {
        margin-bottom: 200px;
    }

    &__sub {
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__block {
    }

    &__title {
        font-weight: 400;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin-bottom: 40px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.03em;
        max-width: 870px;
    }

    &__item-wrapper {
    }

    &__item {
        width: 870px;
        height: 115px;
        border-radius: 50px;
        border: 1px solid $text-secondary;
        color: $primary-color;
        font-weight: 400;
        font-size: 50px;
        line-height: 150%;
        letter-spacing: -0.03em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 20px;
        transition: .5s ease;
        &.active {
            background: $text;
            color: $main-color;
            .directions__item-arrow {
                transform: rotate(0deg);
            }
        }
    }

    &__item-arrow {
        font-size: 48px;
        margin-left: 10px;
        transform: rotate(-90deg);
        transition: .5s ease;
    }

    &__item-block {
        border-radius: 25px;
        border: 1px solid $text-secondary;
        width: 870px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0px;
        visibility: hidden;
        opacity: 0;
        transition: .5s ease;
        &.active {
            visibility: visible;
            opacity: 1;   
            height: 270px;
            margin-bottom: 20px;
            p {
                visibility: visible;
                opacity: 1;
            }
        }
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: -0.03em;
            max-width: 790px;
            visibility: hidden;
            opacity: 0;
            transition: .5s ease;
        }
    }
}
