.home {
    margin-bottom: 200px;
    @media (max-width: 600px) {
        margin-bottom: 80px;
    }
    &__container {
    }

    &__body {
        margin-top: 40px;
        @media (max-width: 600px) {
            margin-top: 72px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (max-width: 600px) {
            font-size: 35px;
            line-height: 90%;
        }
    }

    &__block {
        display: flex;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        max-width: 870px;
        @media (max-width: 600px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
        }
    }

    &__btn-wrapper {
        display: flex;
    }

    &__btn {
        width: 75px;
        height: 75px;
        border-radius: 20px;
        background: $text;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
        &:hover {
            background: $primary-color;
        }
        @media (max-width: 600px) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50px;
            height: 50px;
            bottom: 80px;
            right: 20px;
            border-radius: 10px;
            .home__arrow {
                font-size: 24px;
            }
        }
    }

    &__arrow {
        font-size: 32px;
        color: $main-color;
    }

    &__img {
        width: 1860px;
        height: 500px;
        background: url(/source/home-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin: 0 auto;
        @media (max-width: 600px) {
            height: 340px;
            width: 100%;
            border-radius: 10px;
        }
    }
}

