.news {

    &__container {
    }

    &__body {
        margin-bottom: 200px;
        @media (max-width: 600px) {
            margin-bottom: 80px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin-bottom: 80px;

        @media (max-width: 600px) {
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            margin-bottom: 20px;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media (max-width: 600px) {
            display: none;
        }
    }

    &__head-block {
        display: flex;
    }

    &__head-item {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        padding: 19.5px 39.5px;
        border-radius: 20px;
        margin-right: 20px;
        border: 1px solid $text-secondary;
        cursor: pointer;
        transition: .3s ease;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            background: $primary-color;
            color: $main-color;
            border: 1px solid $primary-color;
        }
    }

    &__arrow-wrapper {
        display: flex;
    }

    &__arrow-prev {
        font-size: 48px;
        color: $text;
        margin-right: 40px;
        transform: rotate(90deg);
        transition: .3s ease;
        cursor: pointer;
    }

    &__arrow-next {
        font-size: 48px;
        color: $text;
        transform: rotate(-90deg);
        transition: .3s ease;
        cursor: pointer;
    }

    &__content-wrapper {
    }

    &__content {
        margin-bottom: 80px;
        position: relative;
        height: 760px;
        @media (max-width: 600px) {
            margin-bottom: 19px;
            height: 473px;
        }
    }

    &__item-wrapper {
        position: absolute;
        width: 100%;
        transform: translateX(100%);
        transition: .7s ease;
        
        &.active {
            transform: translateX(0%);
        }

        @media (max-width: 600px) {
            transform: translateX(120%);
        }
    }

    &__item {
        width: 100%;
        height: 175px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
        border: 1px solid $text-secondary;
        background: $main-color;
        margin-bottom: 20px;
        cursor: pointer;
        transition: .3s ease;
        &:last-child {
            margin-bottom: 0px;
        }

        &:hover {
            background: $primary-color;
            border: 1px solid $primary-color;
            color: $main-color;
            .news__item-arrow {
                color: $main-color;
            }
        }

        @media (max-width: 600px) {
            height: 103px;
            padding-left: 20px;
            padding-right: 10px;
            border-radius: 10px;
        }
    }

    &__item-block {
        display: flex;
        @media (max-width: 600px) {
            &:first-child {
                flex-direction: column;
            }
        }
    }

    &__item-date {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.03em;
        margin-right: 44px;

        @media (max-width: 600px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            margin-right: 0;
            margin-bottom: 5px;
            color: $text-secondary;
        }
    }

    &__item-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.03em;

        @media (max-width: 600px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
        }
    }

    &__item-img {
        width: 192px;
        height: 135px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 600px) {
            width: 68px;
            height: 63px;
            border-radius: 10px;
        }
    }

    &__item-arrow {
        font-size: 48px;
        color: $text;
        margin-left: 107px;
        transform: rotate(-90deg);

        @media (max-width: 600px) {
            font-size: 18px;
            margin-left: 28px;
            display: block;
        }
    }

    &__btn {
        width: 870px;
        height: 76px;
        margin-left: auto;
        border-radius: 20px;
        background: $text;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: $main-color;
        transition: .3s ease;
        &:hover {
            background: $primary-color;
        }

        @media (max-width: 600px) {
            width: 100%;
            border-radius: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            height: 50px;
        }
    }

    &__btn-icon {
        font-size: 24px;
        margin-left: 10px;
        color: $main-color;
        transform: rotate(-90deg);

        @media (max-width: 600px) {

        }
    }
}